body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
    background-color: #001233;
}

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 52px;
    box-sizing: border-box;
    background-color: #001845;
    z-index: 1000;
}

header .logo img {
    height: 48px;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 32px;
}

header nav ul li a:hover {
    background-color: #002855;
}

header .btn-daftar {
    background-color: #0056f5;
    color: #fff;
}

header .btn-daftar:hover {
    background-color: #003bb3;
}

header .btn-masuk {
    background-color: transparent;
    border: 1px solid #0056f5;
    color: #fff;
}

header .btn-masuk:hover {
    background-color: #0056f5;
}

.highlight {
    display: flex;
    align-items: center;
    padding: 50px;
    background-color: #002855;
    background-size: cover;
    background-position: center;
    color: #fff;
    gap: 20px;
}

.highlight-content {
    border-radius: 12px;
    padding: 100px 40px;
    width: 100%;
}

.highlight h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.highlight .genre {
    font-weight: bold;
    color: #ccc;
}

.highlight .rating {
    margin-left: 10px;
    background-color: #ff4444;
    padding: 3px 8px;
    border-radius: 3px;
    color: #fff;
    font-size: 0.8rem;
}

.highlight .description {
    width: 50%;
    margin: 15px 0;
    font-size: 1rem;
    color: #ddd;
}

.highlight .price {
    margin: 20px 0;
    font-size: 1.2rem;
    color: #bc6c25;
    font-weight: bold;
}

.highlight span {
    font-weight: normal;
    color: #fff;
}

.highlight .btn-view {
    background-color: #dda15e;
    color: #fff;
    padding: 12px 48px;
    border: none;
    border-radius: 72px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.highlight .btn-view:hover {
    background-color: #bc6c25;
}

@media (max-width: 600px) {
    .new-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .new-card img {
        height: 200px;
    }
}

 .promo, #trending, #blog, #rating, #top-film, #koleksi-horor, #film-sedih {
    margin: 2rem 0;
    padding: 0 80px;
}

.promo h2, .category h2  {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.promo-grid, .new-grid {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.promo-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    transition: transform 0.3s ease;
}

.new-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 200px;
    height: 260px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    transition: transform 0.3s ease;
    
}

.promo-card:hover, .new-card:hover {
    transform: scale(1.05);
}

.promo-card img, .new-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.promo-card h3, .new-card p {
    font-size: 1.2rem;
    margin: 0.5rem;
}

.promo-card p {
    color: #333;
    font-size: 1rem;
    font-weight: bold;
}

.category {
    margin: 2rem 0;
    padding: 0 1rem;
}

.category h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.blog-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.blog-card:hover {
    transform: scale(1.03);
}

.blog-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.blog-card h3 {
    font-size: 1.2rem;
    margin: 0.5rem;
}

.blog-card p {
    color: #e0e0e0;
    font-size: 0.9rem;
    margin: 0 0.5rem 0.5rem;
}

#rating {
    background-color: #001845;
    color: #ffffff;
    padding: 20px 40px;
    border-radius: 10px;
    margin-top: 2rem;
}

#rating h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    text-align: center;
}

.reviews-container {
    display: flex;
    gap: 20px;
}

.reviews {
    flex: 2;
    max-height: 450px; 
    overflow-y: auto;
    background-color: #002855;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.review-card {
    background-color: #001845;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    color: #ffffff;
}

.review-card h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.review-card p {
    margin: 5px 0;
}

.review-card em {
    font-size: 0.9rem;
    color: #b0b0b0;
}

.add-review {
    flex: 1;
    background-color: #002855;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.add-review h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    text-align: center;
}

.add-review label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.add-review input, 
.add-review select, 
.add-review textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #001233;
    color: #ffffff;
    box-sizing: border-box;
}

.add-review button {
    background-color: #dda15e;
    color: #000;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
}

.add-review button:hover {
    background-color: #bc6c25;
}

.footer {
    border-top: 1px solid #e0e0e0;
    background-color: #002855;
    color: #e0e0e0;
    padding: 30px 25px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 20px;
}

.footer-column h3 {
    color: #f0f0f0;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #e0e0e0;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #dda15e;
}

.footer-column form {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.footer-column input[type="email"] {
    padding: 8px;
    border: 1px solid #fefae0;
    border-radius: 5px;
    background-color: #001233;
    color: #e0e0e0;
    flex: 1;
}

.footer-column button {
    background-color: #ffff;
    border: none;
    color: #001233;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.footer-column button:hover {
    background-color: #33415c;
    color: #fefae0;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.store-icons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.store-icons img {
    width: 135px;
    margin: 0 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    margin: 0 8px;
}

.footer-column h3 {
    margin-bottom: 15px;
}

.footer-bottom {
    display: flex;
    gap: 10px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.footer-bottom .p1 {
    margin-top: 40px;
}

.new-card:hover, .blog-card:hover {
    cursor: pointer;
}

#detail-blog {
    background: #FFF;
    color: #001845;
    padding: 30px 40px;
}

.breadcrumb {
    margin-bottom: 20px;
    background: #001845;
    color: #FFF;
    padding: 10px;
}

.breadcrumb a {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

#detail-blog .blog-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

#detail-blog .blog-image {
    margin-top: 20px;
    width: 100%;
}

.blog-image img {
    width: 100%;
    height: 400px;
    object-fit: contain;
}

.blog-content {
    margin-top: 20px;
    text-align: justify;
    padding: 0 60px;
}

.blog-content p {
    margin-top: 10px;
    font-size: 1.2rem;
    line-height: 1.5;
}

.blog-content .source {
    margin-top: 20px;
    font-weight: bold;
    font-style: italic;
}

.source a {
    color: #001845;
    font-weight: normal;
    text-decoration: none;
}

#hero, #detail-blog, #detail-film {
    padding-top: 120px;
}

#detail-film {
    padding: 80px;
    padding-top: 120px;
}

#detail-film .top {
    display: flex;
    gap: 30px;
    align-items: end;
}

#detail-film .top img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

#detail-film .top .info {
    display: flex;
    gap: 14px;
    flex-direction: column;
}

#detail-film .top .duration span {
    border: 1px solid #fff;
    border-radius: 24px;
    padding: 2px 4px;
    margin: 0 4px;
}

#detail-film .top .price {
    font-size: 1.3rem;
    font-weight: bold;
    color: #de8230;
}

#detail-film .top .buttons {
    margin-top: 24px;
    display: flex;
    gap: 12px;
}

#detail-film .top .buttons button {
    padding: 12px 32px;
    font-size: 1rem;
    border-radius: 32px;
    cursor: pointer;
    font-weight: bolder;
}

#detail-film .top .buttons .buy {
    border: none;
    background-color: #dda15e;
    color: #001233;
}

#detail-film .top .buttons .outlined {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

#detail-film .top .buttons .outlined:hover {
    border: none;
    background-color: #dda15e;
    color: #001233;
}

#detail-film .top .buttons .buy:hover {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

#detail-film .bottom {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#detail-film .bottom .desc {
    margin-bottom: 20px;
}

#detail-film .bottom div {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

#detail-film .bottom div h4 {
    margin-bottom: 2px !important;
    font-weight: 200;
    color: #b7b7b7;
}